{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation-transparent.html' %}

  <!-- -------- START HEADER 8 w/ two background colors ------- -->
<header class="header-rounded-images">
    <div class="page-header min-vh-90">
      <img class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="https://images.unsplash.com/photo-1620389701597-28188918b071?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="image" loading="lazy">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 d-flex">
            <div class="card card-body blur text-md-start text-center px-sm-5 shadow-lg mt-sm-5 py-sm-5">
              <h2 class="text-dark mb-4">Depression Test</h2>
              <p class="lead text-dark pe-md-5 me-md-5">
                Online screening is one of the quickest and easiest ways to determine whether you or your loved ones are experiencing symptoms of depression.
              </p>
              <div class="buttons">
                <button type="button" class="btn bg-gradient-primary mt-4"> Take the test </button>
                <button type="button" class="btn btn-outline-secondary mt-4 ms-2">Read About Depression</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- -------- END HEADER 9 w/ two background colors ------- -->

  <section class="py-7">
    <div class="container">
      <div class="row justify-space-between py-2">
        <div class="col-lg-3 pb-5">
          <div class="nav-wrapper position-relative">
            <ul class="nav nav-pills nav-fill flex-column p-1 me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <li class="nav-item">
                <a class="nav-link active" id="v-pills-message-tab" data-bs-toggle="pill" href="#v-pills-message" role="tab" aria-controls="v-pills-home" aria-selected="true"> Concerned Message </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="v-pills-questionnaire-tab" data-bs-toggle="pill" href="#v-pills-questionnaire" role="tab" aria-controls="v-pills-profile" aria-selected="false"> Questionnaire </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9 me-auto my-auto ms-auto">
            <div class="card shadow-lg mb-5">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-message" role="tabpanel" aria-labelledby="v-pills-message-tab">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                                <h3 class="text-white mb-0"> Analyze a concerned message </h3>
                            </div>
                        </div>
                        <div class="card-body p-5">
                            <form role="form" id="message-form" action="" method="post" autocomplete="off">
                              {% csrf_token %}
                                <div class="input-group input-group-outline mb-4">
                                    <textarea name="message" class="form-control justify-content-start" id="message" rows="4" spellcheck="false">
                                      {% if message %}
                                      {{message}}
                                      {% endif %}
                                    </textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn bg-gradient-dark">Analyze</button>
                                    </div>
                                </div>
                                <div class="row justify-space-between">
                                    <div class="col-lg-5 mx-auto">
                                        <div class="input-group input-group-outline">
                                          {% if message %}
                                            <input type="text" class="form-control text-center my-2" disabled value="Non-Depressive: {{nondep}}%  Depressive: {{dep}}%">
                                          {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-questionnaire" role="tabpanel" aria-labelledby="v-pills-questionnaire-tab">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                                <h3 class="text-white mb-0">Attempt a Questionnaire</h3>
                            </div>
                        </div>
                        <div class="card-body p-5">
                          {% include "home/questionnaire.html" %}
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
      </div>
    </div>
  </section>

 

   

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    // get the element to animate
    var element = document.getElementById('count-stats');
    var elementHeight = element.clientHeight;

    // listen for scroll event and call animate function

    document.addEventListener('scroll', animate);

    // check if element is in view
    function inView() {
      // get window height
      var windowHeight = window.innerHeight;
      // get number of pixels that the document is scrolled
      var scrollY = window.scrollY || window.pageYOffset;
      // get current scroll position (distance from the top of the page to the bottom of the current viewport)
      var scrollPosition = scrollY + windowHeight;
      // get element position (distance from the top of the page to the bottom of the element)
      var elementPosition = element.getBoundingClientRect().top + scrollY + elementHeight;

      // is scroll position greater than element position? (is element in view?)
      if (scrollPosition > elementPosition) {
        return true;
      }

      return false;
    }

    var animateComplete = true;
    // animate element when it is in view
    function animate() {

      // is element in view?
      if (inView()) {
        if (animateComplete) {
          if (document.getElementById('state1')) {
            const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
            if (!countUp.error) {
              countUp.start();
            } else {
              console.error(countUp.error);
            }
          }
          if (document.getElementById('state2')) {
            const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
            if (!countUp1.error) {
              countUp1.start();
            } else {
              console.error(countUp1.error);
            }
          }
          if (document.getElementById('state3')) {
            const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
            if (!countUp2.error) {
              countUp2.start();
            } else {
              console.error(countUp2.error);
            };
          }
          animateComplete = false;
        }
      }
    }

    if (document.getElementById('typed')) {
      var typed = new Typed("#typed", {
        stringsElement: '#typed-strings',
        typeSpeed: 90,
        backSpeed: 90,
        backDelay: 200,
        startDelay: 500,
        loop: true
      });
    }
  </script>

  <!--script>
    if (document.getElementsByClassName('page-header')) {
      window.onscroll = debounce(function() {
        var scrollPosition = window.pageYOffset;
        var bgParallax = document.querySelector('.page-header');
        var oVal = (window.scrollY / 3);
        bgParallax.style.transform = 'translate3d(0,' + oVal + 'px,0)';
      }, 6);
    }
  </!--script>

{% endblock javascripts %}
