{% block content %}

    <section class="py-4 position-relative">
        <div id="carousel-questionnaire" class="carousel slide carousel-team" data-bs-interval="false" data-bs-wrap="false">
          <div class="carousel-inner">
            <form role="form" id="questionnaire-form" action="" method="post" autocomplete="off">
              {% csrf_token %}
            <div class="carousel-item active">
              <div class="container">
                <div class="row text-center">
                    <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Thoughts and Feelings </p>
                    <h4 class="text-dark"> Feeling sad or down in the dumps </h4>
                    <p class="my-4">
                      {{form.field1}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Thoughts and Feelings </p>
                    <h4 class="text-dark">Feeling unhappy or blue</h4>
                    <p class="my-4">
                      {{form.field2}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Thoughts and Feelings </p>
                    <h4 class="text-dark">Crying spells or tearfulness</h4>
                    <p class="my-4">
                      {{form.field3}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Thoughts and Feelings </p>
                    <h4 class="text-dark">Feeling discouraged</h4>
                    <p class="my-4">
                      {{form.field4}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Thoughts and Feelings </p>
                    <h4 class="text-dark">Feeling hopeless</h4>
                    <p class="my-4">
                      {{form.field5}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Thoughts and Feelings </p>
                    <h4 class="text-dark">Low self-esteem</h4>
                    <p class="my-4">
                      {{form.field6}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Thoughts and Feelings </p>
                    <h4 class="text-dark">Feeling worthless or inadequate</h4>
                    <p class="my-4">
                      {{form.field7}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Thoughts and Feelings </p>
                    <h4 class="text-dark">Guilt or shame</h4>
                    <p class="my-4">
                      {{form.field8}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Thoughts and Feelings </p>
                    <h4 class="text-dark">Criticizing yourself or blaming yourself</h4>
                    <p class="my-4">
                      {{form.field9}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Thoughts and Feelings </p>
                    <h4 class="text-dark">Difficulty making decisions</h4>
                    <p class="my-4">
                      {{form.field10}}
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Activities and Personal Relationships </p>
                    <h4 class="text-dark">Loss of interest in family, friends, or colleagues</h4>
                    <p class="my-4">
                      {{form.field11}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Activities and Personal Relationships </p>
                    <h4 class="text-dark">Loneliness</h4>
                    <p class="my-4">
                      {{form.field12}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Activities and Personal Relationships </p>
                    <h4 class="text-dark">Spending less time with family or friends</h4>
                    <p class="my-4">
                      {{form.field13}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Activities and Personal Relationships </p>
                    <h4 class="text-dark">Loss of motivation</h4>
                    <p class="my-4">
                      {{form.field14}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Activities and Personal Relationships </p>
                    <h4 class="text-dark">Loss of interest in work or other activities</h4>
                    <p class="my-4">
                      {{form.field15}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Activities and Personal Relationships </p>
                    <h4 class="text-dark">Avoiding work or other activities</h4>
                    <p class="my-4">
                      {{form.field16}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Activities and Personal Relationships </p>
                    <h4 class="text-dark">Loss of pleasure or satisfaction in life</h4>
                    <p class="my-4">
                      {{form.field17}}
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Physical Symptoms </p>
                    <h4 class="text-dark">Feeling tired</h4>
                    <p class="my-4">
                      {{form.field18}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Physical Symptoms </p>
                    <h4 class="text-dark">Difficulty sleeping or sleeping too much</h4>
                    <p class="my-4">
                      {{form.field19}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Physical Symptoms </p>
                    <h4 class="text-dark">Decreased or increased appetite</h4>
                    <p class="my-4">
                      {{form.field20}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Physical Symptoms </p>
                    <h4 class="text-dark">Loss of interest in sex</h4>
                    <p class="my-4">
                      {{form.field21}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Physical Symptoms </p>
                    <h4 class="text-dark">Worrying about your health</h4>
                    <p class="my-4">
                      {{form.field22}}
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Suicidal Urges </p>
                    <h4 class="text-dark">Do you have any suicidal thoughts?</h4>
                    <p class="my-4">
                      {{form.field23}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Suicidal Urges </p>
                    <h4 class="text-dark">Do you want to end your life?</h4>
                    <p class="my-4">
                      {{form.field24}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row text-center">
                  <div class="col-6 mx-auto">
                    <p class="text-sm font-weight-bold mb-1"> Suicidal Urges </p>
                    <h4 class="text-dark">Do you have a plan for harming yourself?</h4>
                    <p class="my-4">
                      {{form.field25}}
                    </p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12 text-center">
                      <button type="submit" class="btn bg-gradient-dark">Calculate</button>
                  </div>                  
                </div>

              </div>
            </div>

            <a class="carousel-control-prev text-dark text-lg" href="#carousel-questionnaire" role="button" data-bs-slide="prev">
              <i class="fas fa-chevron-left"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next text-dark text-lg" href="#carousel-questionnaire" role="button" data-bs-slide="next">
              <i class="fas fa-chevron-right"></i>
              <span class="sr-only">Next</span>
            </a>

          </form>
          </div>
          
        </div>
      </section>


{% endblock content %}

{% block javascripts %}
<script>

  var checkitem = function() {
  var $this;
  $this = $("carousel-questionnaire");
  if ($("#carousel-questionnaire .carousel-inner .item:first").hasClass("active")) {
    $this.children(".carousel-control-prev").hide();
    $this.children(".carousel-control-next").show();
  } else if ($("#carousel-questionnaire .carousel-inner .item:last").hasClass("active")) {
    $this.children(".carousel-control-next").hide();
    $this.children(".carousel-control-prev").show();
  } else {
    $this.children(".carousel-control").show();
  }
};

checkitem();

$("#carousel-questionnaire").on("slid.bs.carousel", "", checkitem);

</script>

<script src="https://code.jquery.com/jquery-3.5.1.js" 
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
  crossorigin="anonymous"></script>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--script type="text/javascript">
$(document).on('submit','#questionnaire-form',function(e){
e.preventDefault();
var form = $(this).closest("questionnaire-form");
$.ajax({
  type:'POST',
  url:'{% url "assessment" %}',
  data:
  {
      task:$("#questionnaire-form").val(),
      csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
  },
  success:function(){
        alert('Saved');
          }
  })
});
</!--script-->

<script type="text/javascript">
  var frm = $('#questionnaire-form');
  frm.submit(function () {
    event.preventDefault();
      $.ajax({
          type: 'POST',
          url: '{% url "assessment" %}',
          data: frm.serialize(),
          success: function (data) {
              $("#result").html(data);
              //console.log("OK");
              //console.log(sum);
              //alert("Success" + data);
              Swal.fire({
                title: 'Your score: ' + data,
                //'You clicked the button!',
                
                icon: 'success',
                html: `<table id="table" border=1>
        <thead>
            <tr>
                <th>Total Score</th>
                <th>Degree of Depression</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0 - 4</td>
                <td>Minimal or no depression</td>          
            </tr>
            <tr>
                <td>5 – 10</td>
                <td>Borderline depression</td>               
            </tr>
            <tr>
                <td>11 – 20</td>
                <td>Mild depression</td>                
            </tr>
            <tr>
                <td>21 – 30</td>
                <td>Moderate depression</td>                
            </tr>
            <tr>
                <td>31 - 45</td>
                <td>Severe depression</td>                
            </tr>
</tbody>
</table>`
                
              })
          },
          error: function(data) {
              $("#result").html("Something went wrong!");
              //console.log("error");
          }
      });
      return false;
  });
</script>

{% endblock javascripts %}
